<div class="column is-12-desktop is-12-tablet">
    <div class="box">
        <article class="media">
            <div class="media-left">
                <figure class="image is-4by3 is-hidden-mobile" style="min-width: 256px;">
                    {% if project.image %} 
                        <a href="{{ site.baseurl }}{{ post.url }}">
                            <img src="{{ site.baseurl }}/img/{{ post.image }}" style="object-fit: cover;" alt="{{ post.title }}" />
                        </a>
                    {% else %} 
                        <a href="{{ site.baseurl }}{{ post.url }}">
                            <img src="{{ site.baseurl }}/img/discussion.jpg" style="object-fit: cover;" alt="{{ post.title }}" />
                        </a>
                    {% endif %} 
                </figure>
            </div>
            <div class="media-content">
                <div class="content has-text-justified">
                    <p>
                    <a class="title is-3" href="{{ site.baseurl }}{{ post.url }}">{{ post.title}}</a>
                    </p>
                    <p class="subtitle is-5">Data: {{ post.meeting | date: "%d/%m/%Y" }}</p>
                    <p class="subtitle is-6 has-text-justified">

                    {% if post.type == "paper-discussion" %}
                        {% assign sentences = {{post.description}} | split: ";" %}

                        {% for sentence in sentences %}
                            {{ sentence }}<br/>
                        {% endfor %}
                    {% else %}
                        {{post.description}}
                    {% endif %}
                    </p>
                    <div class="has-left-centered">
                        <a href="{{ site.baseurl }}{{ post.url }}" class="button is-primary">Leia mais</a>
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>
            


